################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.lock
*.ide
*.ide-wal
*.ide-shm
/obj
*.user
/.vs/Das.DataFlow/DesignTimeBuild/.dtbcache
